<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Page des TER de Garcia Loris</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Page des TER de Garcia Loris </h1>
<br/>

<h3>
<a th:href="@{/listTeachers}">Teachers List</a>
<br/>
<a th:href="@{/listStudents}">Students List</a>
<br/>
<a th:href="@{/listSujets}">Sujets List</a>
<br/>
<a th:href="@{/listGroupes}">Groupes List</a>
<br/>
<br/>
<a th:href="@{/logout}">--Logout--</a>
</h3>
</body>
</html>