<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Student List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Student List</h1>
<a th:if="${estManager}" href="addStudent">Add Students</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Groupe</th>
        </tr>
        <tr th:each ="student : ${students}">
            <td th:utext="${student.firstName}">...</td>
            <td th:utext="${student.lastName}">...</td>
            <td th:if="${student.groupe != null}" th:utext="${student.groupe.nom}">...</td>
            <td th:unless="${student.groupe != null}" ><i>Inscrit dans aucun groupe</i></td>
            <td th:if="${estManager}">
                <a th:href="@{/showStudentUpdateForm/{id}(id=${student.id})}">Update</a>
                <a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br>
<a href="/">Retourner à la page d'accueil</a>
</body>
</html>