<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Teacher List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Teacher List</h1>
<a th:if="${estManager}" href="addTeacher">Add Teachers</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Liste des sujets (encadrant principal)</th>
            <th>Liste des sujets (encadrant secondaire)</th>
        </tr>
        <tr th:each ="teacher : ${teachers}">
            <td th:utext="${teacher.firstName}">...</td>
            <td th:utext="${teacher.lastName}">...</td>
            <td th:if="${teacher.listeSujetsPrincipal.size > 0}">
                <ul th:each="sujet : ${teacher.listeSujetsPrincipal}">
                    <li>
                        [(${sujet.titre})]
                    </li>
                </ul>
            </td>
            <td th:unless="${teacher.listeSujetsPrincipal.size > 0}">
                <i>Aucun projet en tant qu'encadrant secondaire</i>
            </td>
            <td th:if="${teacher.listeSujetsSecondaire.size > 0}">
                <ul th:each="sujet : ${teacher.listeSujetsSecondaire}">
                    <li>
                        [(${sujet.titre})]
                    </li>
                </ul>
            </td>
            <td th:unless="${teacher.listeSujetsSecondaire.size > 0}">
                <i>Aucun projet en tant qu'encadrant secondaire</i>
            </td>
            <td th:if="${estManager}">
                <a th:href="@{/showTeacherUpdateForm/{id}(id=${teacher.id})}">Update</a>
                <a th:href="@{/deleteTeacher/{id}(id=${teacher.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br>
<a href="/">Retourner à la page d'accueil</a>
</body>
</html>