<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Groupe List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Groupe List</h1>
<a th:if="${estManager or estStudent}" href="addGroupe">Add Groupes</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Nom du groupe</th>
      <th>Étudiant inscrit au groupe</th>
    </tr>
    <tr th:each ="groupe : ${groupes}">
      <td th:utext="${groupe.nom}">...</td>
      <td th:if="${groupe.listeEtudiants.size > 0}">
        <ul th:each="student : ${groupe.listeEtudiants}">
          <li>
            [(${student.LastName})] [(${student.FirstName})]
          </li>
        </ul>
      </td>
      <td th:unless="${groupe.listeEtudiants.size > 0}">Aucun étudiant inscrit</td>
      <td th:if="${estManager or estStudent}">
        <a th:if="${estManager}" th:href="@{/showGroupeUpdateForm/{id}(id=${groupe.id})}">Update</a>
        <a th:if="${estManager}" th:href="@{/deleteGroupe/{id}(id=${groupe.id})}">Delete</a>
        <div th:if="${student} != null">
          <a th:if="${groupe.listeEtudiants.contains(student)}" th:href="@{/delStudentToGroup/{id}/{nomStudent}(id=${groupe.id}, nomStudent=${student.getLastName()})}">Se désinscrire</a>
          <a th:if="${student.groupe == null}" th:href="@{/addStudentToGroup/{id}/{nomStudent}(id=${groupe.id}, nomStudent=${student.getLastName()})}">S'inscrire</a>
        </div>
      </td>
    </tr>
  </table>
</div>
<br>
<a href="/">Go back to home page</a>
</body>
</html>