<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout enseignant secondaire</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Liste enseignant :</h1>
<br/>
<div>
    <table border="1" th:if="${teachersWithoutActualTeacher.hasNext()}">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each ="teacher : ${teachersWithoutActualTeacher}">
            <td th:utext="${teacher.firstName}">...</td>
            <td th:utext="${teacher.lastName}">...</td>
            <td><a th:href="@{/addTeacherToSujet/{id}/{nomEnseignant}(id=${sujetFormAddEnseignant.id}, nomEnseignant=${teacher.lastName})}">Ajouter</a>
        </tr>
    </table>
</div>
<br>
<a th:href="@{/showSujetUpdateForm/{id}(id=${sujetFormAddEnseignant.id})}">Retourner à la page du sujet</a>
</body>
</html>