<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sujets List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Sujet List</h1>
<a th:if="${estManager} or ${estTeacher}" href="addSujet">Ajouter un sujet</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Titre</th>
            <th>Nom enseignant responsable</th>
            <th>Nom enseignants secondaires</th>
        </tr>
        <tr th:each ="sujet : ${sujets}">
            <td th:utext="${sujet.titre}">...</td>
            <td th:if="${sujet.enseignantResponsable != null}">
                [(${sujet.enseignantResponsable.LastName})] [(${sujet.enseignantResponsable.FirstName})]
            </td>
            <td style="color:#FF0000" th:unless="${sujet.enseignantResponsable != null}">
                <!> AUCUN ENSEIGNANT RESPONSABLE <!>
            </td>
            <td th:if="${sujet.listeEnseignantsSecondaires.size > 0}">
                <ul th:each="teacher : ${sujet.listeEnseignantsSecondaires}">
                    <li>
                        [(${teacher.LastName})] [(${teacher.FirstName})]
                    </li>
                </ul>
            </td>
            <td th:unless="${sujet.listeEnseignantsSecondaires.size > 0}"><i>Aucun enseignant secondaire</i></td>
            <td th:if="${estManager or sujet.enseignantResponsable.getLastName() == nomActuel}">
                <a th:href="@{/showSujetUpdateForm/{id}(id=${sujet.id})}">Update</a>
                <a th:href="@{/deleteSujet/{id}(id=${sujet.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br>
<a href="/">Retourner à la page d'accueil</a>
</body>
</html>