<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Sujet</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<h1>Update a Sujet:</h1>

<form th:action="@{/addSujet}"
      th:object="${sujetForm}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    Titre du sujet:
    <input type="text" th:field="*{titre}"/>    
    <br/>
    Nom de l'enseignant responsable :
    <input type="text" th:field="*{nomEnseignantResponsable}"/>
    <br/>
    <span th:if="*{nombreEnseignantSecondaire > 0}"> Liste des enseignants secondaires :</span>
    <span th:unless="*{nombreEnseignantSecondaire > 0}"> Aucun enseignant secondaire :</span>
    <ul>
        <li th:each="enseignant : *{listeEnseignantsSecondaires}">
            <span>[(${enseignant.LastName})] [(${enseignant.FirstName})]</span> -
            <a th:href="@{/deleteEnseignantSecondaire/{id}/{nomEnseignant}(id=${id}, nomEnseignant=${enseignant.LastName})}">Supprimer</a>
        </li>
        <li> <a th:href="@{/addEnseignantSecondaire/{id}(id=${id})}">ajouter</a></li>
    </ul>
    <br/>

    <input type="submit" value="Update"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>